* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    width:100vw;
    height:12vh;
    position:fixed;
    z-index:2;
    background-color:lightgray;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    transition:all .3s ease-in-out;
}

header.hidden {
    height:2vh;
}

header.hidden:hover {
    height:12vh;
}

header#leftmenu {
    width:20vw;
    height:100vh;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 10rem);
}

.menuitem {
    width:100%;
    height:100%;
    font-size:2rem;
    display:grid;
    place-items:center;
    border-bottom:1px solid black;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.menuitem:hover {
    border-bottom:4px solid rgb(32, 32, 32);
    font-size:2.4rem;
}

.menuitem.active {
    border-bottom:6px solid black;
}

header.hidden .menuitem {
    font-size:0;
}

header.hidden:hover .menuitem {
    font-size:2rem;
}

/* Her er en kommentar */

.page {
    position:fixed;
    left:-100vw;
    height: 100vh;
    width:100vw;
    top:0vh;
    overflow:hidden;
    display:grid;
    place-items:center;
    transition: 0.3s 0.3s all ease-in-out;
}

.visible {
    left:0;
    transition: 0.3s all ease-in-out;
}


#page1 {
    background-color: rgb(150, 164, 173);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
}

#page1 .left {
    background-color:whitesmoke;
    width:100%;
    height:100%;
    display:grid;
    place-items:center;

}

.left #leftitem1 {
    background-image:url(./assets/ezracollective_logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#page1 .right {
    width: 100%;
    height: 100%;
    background-color: rgb(150, 164, 173);
}

.right #item1r {
    background-image: url(assets/Ezra-Collective.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}



#page2 {
    background-color: rgb(111, 119, 111);
    grid-template-columns: 3fr 7fr;
}

#page2 .left {
    width:100%;
    height:100%;
    display:grid;
    place-items:center;
    padding:2rem;
    background-color:whitesmoke;
    font-size:1.5rem;
}

#page2 .right {
    width:100%;
    height:100%;
    display:grid;
    place-items: center;
    grid-template-rows: 3fr 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'femi joe james'
        'femitext joetext jamestext'
        'tj ife dylan'
        'tjtext ifetext dylantext';
}

.right #item1 {
    grid-area: femi;
    background-position: center;
    background-image: url(./assets/Femi-1.jpeg);
    background-size: 80%;
    background-repeat: no-repeat;
}

.right #item2 {
    grid-area: joe;
    background-position: center;
    background-image: url(./assets/eec0c4ae-610c-46d7-9d74-1d0a62c64c25_1584835200.jpeg);
    background-size: 80%;
    background-repeat: no-repeat;
}

.right #item3 {
    grid-area: james;
    background-position: center;
    background-image: url(./assets/D46LQd6X4AAb_ya.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}

.right #item4 {
    grid-area: femitext;

}
.right #item5 {
    grid-area: joetext;
    display:grid;
    place-items:center;
    padding:2rem;
    font-size:1.5rem;
}

.right #item6 {
    grid-area: jamestext;
    display:grid;
    place-items:center;
    padding:2rem;
    font-size:1.5rem;
}

.right #item7 {
    grid-area: tj;
    background-position: center;
    background-image: url(./assets/D-aBKjkXsAAnTWx.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}

.right #item8 {
    grid-area: ife;
    background-position: center;
    background-image: url(./assets/stbjdhJV_400x400.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}

.right #item9 {
    grid-area: dylan;
    background-position: center;
    background-image: url(./assets/dylanjones.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}

.right #item10 {
    grid-area: tjtext;
    display:grid;
    place-items:center;
    padding:2rem;
    font-size:1.5rem;
}

.right #item11 {
    grid-area: ifetext;
    display:grid;
    place-items:center;
    padding:2rem;
    font-size:1.5rem;
}

.right #item12 {
    grid-area: dylantext;
    display:grid;
    place-items:center;
    padding:2rem;
    font-size:1.5rem;
}



#page3 {
    background-color: rgb(168, 135, 183);
    grid-template-columns: 3fr 7fr;
}

#page3 .left {
    width:100%;
    height:100%;
    display:grid;
    place-items:center;
    padding:2rem;
    background-color:whitesmoke;
    font-size:1.5rem;
}

#page3 .right {
    width:100%;
    height:100%;
    display:grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.right #page3item1{
    background-position: center;
    background-image: url(./assets/a4148933538_10.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}
.right #page3item2{
    background-position: center;
    background-image: url(./assets/a1214454722_65.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}
.right #page3item3{
    background-position: center;
    background-image: url(./assets/a4214665865_65.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}
.right #page3item4{
    background-position: center;
    background-image: url(./assets/ab67616d0000b273b251d35a62fbd725c70aadb0.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}
.right #page3item5{
    background-position: center;
    background-image: url(./assets/a0534195719_10.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}
.right #page3item6{
    background-position: center;
    background-image: url(./assets/a4249844765_10.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}

#page4 {
    background-color: rgb(13, 99, 13);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(assets/EZ_tour.jpg);
}

h1 {
    font-family: Raleway;
    color:rgb(0, 0, 0);
}
